a{
  color: #00796b;
}
a:hover{
  color: #00796b;
}
.btn-common {
  background: #00796b;
}
.btn-common:hover{
 box-shadow: 0 14px 26px -12px rgba(233,30,99,0.42), 0 4px 23px 0px rgba(233,30,99,0.12), 0 8px 10px -5px rgba(233,30,99,0.02);
}
/* Back to Top */
.back-to-top i {
  background-color: #00796b;
}
/* Top Roof */
#roof{
  background: #00796b;
}
/* Navbar */

.navbar-default .navbar-toggle .icon-bar{
  background: #00796b;
}
.navbar-event .navbar-nav li a:hover,
.navbar-event .navbar-nav li .active > a,
.navbar-event .navbar-nav li a:focus {
  color: #00796b;
}
.navbar-event .dropdown .dropdown-menu {
  border-color: #00796b;
}
.navbar-event .dropdown .dropdown-menu > li > a:hover,
.navbar-event .dropdown .dropdown-menu > li > a .active {
  color: #00796b;
}
.navbar-event .dropdown .dropdown-menu > li.active > a {
  background: #00796b !important;
  color: #fff;
}
.navbar-event .navbar-nav > .active > a,
.navbar-event .navbar-nav > .active > a:focus,
.navbar-event .navbar-nav > .active > a:hover {
  background: #00796b !important;
  color: #fff;
}
.navbar-event .navbar-nav > .open > a,
.navbar-event .navbar-nav > .open > a:focus,
.navbar-event .navbar-nav > .open > a:hover {
  color: #00796b;
}
.navbar-event .navbar-nav > .active > a, 
.navbar-event .navbar-nav > .active > a:hover{
  color: #fff;
}

/* Event */
#event .tab-block .icon i{
  color: #00796b;
}
/* Featured icon */
.featured-box .icon i{
  color: #00796b;
}
/* Schedule */
.main-board .day > li.active > a, 
.main-board .day > li.active > a:focus, 
.main-board .day > li.active > a:hover{
  background-color: #00796b;
}
.main-board .day > li > a:focus, 
.main-board .day > li > a:hover{
  background: #00796b;
}


/* page header */
.page-header .breadcrumb liba{
  color: #00796b;
}
.page-header .breadcrumb li a:hover{
  color: #00796b;
}
/* Intro */
#intro::before{
  background: #00796b;
}

.white {
  color: #fff;
}

/* Landing page logo*/
.bgimage {
  width:100%;
  height:500px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/static/img/hero.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
}
.bgimage h1 {
  color:white;
  text-shadow:2px 2px #333;
  font-size: 80px;
}
.tag-line{
  color: azure;
  font-size: 50px;
  padding: 100px;
}
@media (max-width: 575.98px)  { 
  .tag-line{
    font-size: 40px;
   padding: 0px;
  }
  .overlay{
    margin-top: 120px;
  }
  #social i{
    font-size: 50px;
  }
  #social{
    margin-bottom: 60px;
  }
}

.modal-xl {
  min-width: 100%;
  margin: 0;
}

.modal-xl .modal-content {
  min-height: 100vh;
}