/*fonts begin*/
@font-face {
    font-family: hack-regular;
    src: url('../fonts/hack/Hack-Regular.ttf');
}
@font-face {
    font-family: rubik-regular;
    src: url('../fonts/rubik/Rubik-Regular.ttf');
}
@font-face {
    font-family: rubik-light;
    src: url('../fonts/rubik/Rubik-Light.ttf');
}

.rubik{
    font-family: rubik-regular;
}
.hack{
    font-family: hack-regular;
}
/*fonts end*/