
/* ==========================================================================
   All Import File List
   ========================================================================== */
/* ==========================================================================
   Global Styles
   ========================================================================== */
body {
  font-size: 15px;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  color: #777777;
  margin: 0;
  line-height: 25px;
  background: #fff;
  -webkit-box-sizing: box-sizing;
  -moz-box-sizing: box-sizing;
  box-sizing: box-sizing;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Hack', sans-serif;
  color: #2d2d2d;
  font-weight: 700;
}

p {
  color: #777777;
  font-size: 14px;
  font-family: 'Hack', sans-serif;
  font-weight: 400;
}

a {
  color: #e91e63;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

a:hover {
  color: #e91e63;
  text-decoration: none;
}

a:focus {
  outline: none;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
  padding: 0;
  margin: 0;
}

ol {
  list-style: none;
}

.section {
  padding: 60px 0;
}

.section-title {
  color: #2d2d2d;
  font-family: 'Rubik', sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 50px;
  padding: 15px 0px;
  margin-bottom: 0;
  margin-top: 0;
}

.section-subcontent {
  font-size: 15px;
  text-align: center;
  padding-bottom: 30px;
}

.small-title {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px 0;
}

.btn {
  padding: 10px 40px;
  border-radius: 30px;
  color: #fff;
  font-size: 15px;
  font-family: 'Hack', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.btn:focus {
  color: #fff;
  box-shadow: none;
  outline: none;
}


.btn-lg {
  font-size: 15px;
  padding: 14px 40px;
  text-transform: uppercase;
}

.btn-small {
  padding: 11px 25px;
  font-size: 12px;
  text-transform: uppercase;
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  opacity: 1;
}

/* ==========================================================================
 Back to top
 ========================================================================== */
.back-to-top {
  position: fixed;
  bottom: 35px;
  right: 40px;
  display: none;
  z-index: 99;
}

.back-to-top i {
  display: block;
  width: 40px;
  font-size: 20px;
  height: 40px;
  background: #e91e63;
  color: #fff;
  text-align: center;
  box-shadow: 0px 6px 13px rgba(0, 0, 0, 0.08);
  line-height: 32px;
  border-radius: 50%;
}

/* ==========================================================================
   Page Header
   ========================================================================== */
.page-header {
  padding: 0;
  margin: 0;
  position: relative;
  background: url(/static/img/background/header-bg.jpg);
  background-size: cover;
  background-position: 0px 0px, 50% 50%;
  min-height: 160px;
}

.page-header:before {
  background: rgba(34, 34, 34, 0.8);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  content: "";
  display: block;
}

.page-header .page-header-inner {
  position: absolute;
  color: #fff;
  bottom: 10px;
}

.page-header .page-title {
  text-align: left;
  color: #fff;
  font-size: 40px;
  padding: 15px 0;
  margin-bottom: 10px !important;
}

.page-header .breadcrumb {
  margin: 0;
  padding: 0;
  background: transparent;
  position: relative;
  z-index: 9;
}


/* ==========================================================================
   Navigation Main Menu
   ========================================================================== */
/* ==========================================================================
   Roof Section Start
   ========================================================================== */
#roof {
  color: #fff;
  font-size: 14px;
  background: #e91e63;
}

#roof .info-bar-address {
  font-size: 14px;
  font-weight: 400;
  line-height: 40px;
}

#roof .quick-contacts {
  float: right;
}

#roof .quick-contacts span {
  margin-right: 10px;
  line-height: 40px;
}

#roof .quick-contacts a {
  color: #fff;
}

#roof .quick-contacts i {
  margin-right: 5px;
  vertical-align: middle;
  font-size: 15px;
}

.navbar-default .navbar-toggle .icon-bar {
  background: #e91e63;
}

.navbar-default.affix {
  width: 100%;
  top: 0;
  background: #2d2d2d;
  z-index: 99999;
  -webkit-transition: all 400ms cubic-bezier(0.345, 0.855, 0.565, 1) 10ms;
  -moz-transition: all 400ms cubic-bezier(0.345, 0.855, 0.565, 1) 10ms;
  -o-transition: all 400ms cubic-bezier(0.345, 0.855, 0.565, 1) 10ms;
  transition: all 400ms cubic-bezier(0.345, 0.855, 0.565, 1) 10ms;
}

.navbar-event.affix {
  background: #fff !important;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.navbar {
  margin-bottom: 0;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
  background: transparent;
  color: #fff;
}

.navbar-default {
  margin-bottom: 0;
  background: transparent;
  border: none;
  border-radius: 0;
}

.navbar-brand {
  position: relative;
  padding: 0px 15px;
}

.navbar-nav a {
  -moz-transition: color .3s linear, background .3s linear;
  -webkit-transition: color .3s linear, background .3s linear;
  -o-transition: color .3s linear, background .3s linear;
  transition: color .3s linear, background .3s linear;
}

.navbar-default .navbar-nav {
  position: relative;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.navbar-default .navbar-nav li a {
  color: rgba(255, 255, 255, 0.75);
  font-size: 14px;
  display: block;
  padding: 30px 0px;
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 24px;
  font-weight: 400;
  outline: 0;
}

.navbar-default .navbar-nav li a:before {
  content: "";
  display: inline-block;
  height: 1px;
  width: 0;
  position: absolute;
  background: rgba(255, 255, 255, 0.75);
  left: 1px;
  bottom: 21px;
  -webkit-transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
  -moz-transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
  -o-transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
  transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
}

.navbar-default .navbar-nav li a:hover,
.navbar-default .navbar-nav li .active>a,
.navbar-default .navbar-nav li a:focus {
  color: #fff;
  background: transparent !important;
}

.navbar-default .navbar-nav li a:hover:before,
.navbar-default .navbar-nav li a:focus:before {
  color: #fff;
  width: 100%;
}

.navbar-default .navbar-nav .active>a:before {
  width: 100%;
}

.navbar-event {
  background: #fff;
}

.navbar-event .navbar-nav li a {
  color: #222222;
  padding: 0 20px;
  margin-right: 1px;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 40px;
  border-radius: 50px;
}

.navbar-event .navbar-nav li a:before {
  display: none;
}

.navbar-event .navbar-nav li a:hover,
.navbar-event .navbar-nav li .active>a,
.navbar-event .navbar-nav li a:focus {
  color: #e91e63;
}

.navbar-event .navbar-nav>.dropdown:hover>ul.dropdown-menu {
  display: block;
  -webkit-animation: fadeInUpMenu 0.3s;
  -moz-animation: fadeInUpMenu 0.3s;
  -ms-animation: fadeInUpMenu 0.3s;
  -o-animation: fadeInUpMenu 0.3s;
  animation: fadeInUpMenu 0.3s;
}

.navbar-event .dropdown .dropdown-menu {
  padding: 0;
  border-style: solid;
  border-width: 2px 0 0 0;
  border-radius: 0;
  left: -20px;
  right: 0;
  top: 78px;
  width: 170px;
  border-color: #e91e63;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.navbar-event .dropdown .dropdown-menu>li>a {
  color: #222222;
  padding: 2px 20px;
  border-radius: 0;
  margin: 0;
  text-transform: none;
  -webkit-transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
  -moz-transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
  -o-transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
  transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
}

.navbar-event .dropdown .dropdown-menu>li>a:hover,
.navbar-event .dropdown .dropdown-menu>li>a .active {
  color: #e91e63;
}

.navbar-event .dropdown .dropdown-menu>li.active>a {
  background: #e91e63 !important;
  color: #fff;
}

@-webkit-keyframes fadeInUpMenu {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@keyframes fadeInUpMenu {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.navbar-event .fadeInUpMenu {
  -webkit-animation-name: fadeInUpMenu;
  animation-name: fadeInUpMenu;
}

.navbar-event .navbar-nav>.active>a,
.navbar-event .navbar-nav>.active>a:focus,
.navbar-event .navbar-nav>.active>a:hover {
  background: #e91e63 !important;
  color: #fff;
}

.navbar-event .navbar-nav>.active>a,
.navbar-event .navbar-nav>.active>a:hover {
  color: #fff;
}

.navbar-event .navbar-nav>.open>a,
.navbar-event .navbar-nav>.open>a:focus,
.navbar-event .navbar-nav>.open>a:hover {
  background: transparent;
}

/* ==========================================================================
   Rev Scroll Button
   ========================================================================== */
.rev-scroll-btn {
  position: relative;
  display: inline-block;
  left: 0;
  right: 0;
  text-align: center;
  cursor: pointer;
  width: 35px;
  height: 55px;
  box-sizing: border-box;
  border: 3px solid #fff;
  border-radius: 23px;
  margin-top: 80px;
}

.rev-scroll-btn span {
  position: absolute;
  display: block;
  top: 29%;
  left: 50%;
  width: 8px;
  height: 8px;
  margin: -4px 0 0 -4px;
  background: #fff;
  border-radius: 50%;
  -webkit-animation: rev-ani-mouse 2.5s linear infinite;
  -moz-animation: rev-ani-mouse 2.5s linear infinite;
  animation: rev-ani-mouse 2.5s linear infinite;
}

/* SCROLL DOWN BUTTON */
@-webkit-keyframes rev-ani-mouse {
  0% {
    opacity: 1;
    top: 29%;
  }

  15% {
    opacity: 1;
    top: 50%;
  }

  50% {
    opacity: 0;
    top: 50%;
  }

  100% {
    opacity: 0;
    top: 29%;
  }
}

@-moz-keyframes rev-ani-mouse {
  0% {
    opacity: 1;
    top: 29%;
  }

  15% {
    opacity: 1;
    top: 50%;
  }

  50% {
    opacity: 0;
    top: 50%;
  }

  100% {
    opacity: 0;
    top: 29%;
  }
}

@keyframes rev-ani-mouse {
  0% {
    opacity: 1;
    top: 29%;
  }

  15% {
    opacity: 1;
    top: 50%;
  }

  50% {
    opacity: 0;
    top: 50%;
  }

  100% {
    opacity: 0;
    top: 29%;
  }
}

/* ==========================================================================
   Event location
   ========================================================================== */
#event {
  background: url(/static/img/background/bg-1.jpg);
  background-size: cover;
  position: relative;
}

#event .tab-block {
  width: 100%;
  text-align: center;
  border-right: 1px dotted #777;
  margin-bottom: 30px;
}

#event .tab-block .icon {
  text-align: center;
  margin-bottom: 15px;
}

#event .tab-block .icon i {
  font-size: 40px;
  color: #e91e63;
}

#event .tab-block .desc h4 {
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
}

#event .tab-block .desc p {
  color: #ADADAD;
}

#event .last-block {
  border-right: none;
}

#event .content-text {
  text-align: center;
  padding: 6px 60px;
}

#event .content-text h3 {
  font-size: 30px;
  color: #fff;
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 22px;
}

#event .content-text p {
  color: #ADADAD;
  font-size: 18px;
  line-height: 28px;
}

/* ==========================================================================
   Featured Style Start
   ========================================================================== */
.featured-box {
  padding: 20px;
  text-align: center;
}

.featured-box .icon {
  padding: 15px;
}

.featured-box .icon i {
  color: #e91e63;
  font-size: 48px;
}

.featured-box h4 {
  font-size: 22px;
  padding: 10px 0;
  font-weight: 500;
  color: #2d2d2d;
}


/* ==========================================================================
   Schedule Section Start
   ========================================================================== */
.main-board {
  background: #fff;
  box-shadow: 2px 0px 32px rgba(0, 0, 0, 0.07);
  position: relative;
  margin-top: 30px;
}

.main-board .nav-tabs {
  border-bottom: none;
}

.main-board .day {
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.05);
}

.main-board .day>li.active>a,
.main-board .day>li.active>a:focus,
.main-board .day>li.active>a:hover {
  background-color: #e91e63;
  color: #fff;
  border-radius: 0;
  border: none;
}

.main-board .day>li>a {
  color: #777777;
  padding: 8px 106.9px;
  margin-right: 0px;
  font-weight: 400;
  border: none;
  text-transform: uppercase;
  font-size: 20px;
  text-align: center;
  border-radius: 0;
}

.main-board .day>li>a span {
  font-size: 16px;
}

.main-board .day>li>a:focus,
.main-board .day>li>a:hover {
  background: #e91e63;
  color: #fff;
}

.column-1 {
  position: relative;
}

.column-1:before {
  position: absolute;
  content: "";
  left: 45px;
  top: 38px;
  bottom: 0;
  width: 4px;
  height: 96%;
  background: #efefef;
}

.column-1:after {
  position: absolute;
  content: "";
  left: 35px;
  bottom: -45px;
  width: 24px;
  height: 24px;
  background: #efefef;
  border-radius: 50%;
}

.column-1 .nav-pills li {
  text-align: left;
  float: none;
  margin-bottom: 34px;
}

.column-1 .nav-pills li a {
  background: #dddddd;
  color: #777777;
  border-radius: 0px;
  padding: 7px 10px;
  width: 120px;
  display: block;
  text-align: center;
}

.column-1 .nav-pills ul {
  margin-left: 40px;
}

.column-1 .nav-pills ul li {
  margin: 48px 35px;
  position: relative;
}

.column-1 .nav-pills ul li:after {
  position: absolute;
  content: "";
  left: -55px;
  top: 10px;
  bottom: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.column-1 .nav-pills ul>li.color-1:after {
  background: #f44336;
}

.column-1 .nav-pills ul>li.color-2:after {
  background: #30b9f6;
}

.column-1 .nav-pills ul>li.color-3:after {
  background: #736357;
}

.column-1 .nav-pills ul>li.color-4:after {
  background: #4a5dcd;
}

.column-1 .nav-pills ul>li>a {
  background: #dddddd;
  color: #777777;
  border-radius: 0px;
  padding: 7px 10px;
  width: 120px;
  display: block;
  text-align: center;
}

.board {
  padding: 60px 60px 30px;
}

.board .button {
  position: relative;
  margin-top: -45px;
  text-align: center;
}

.board .button .btn-large {
  padding: 12px 36px;
  color: #fff;
  font-size: 16px;
}

.board .button a img {
  margin-right: 12px;
}

.board .member {
  background: #efefef;
  padding: 34px 30px;
  margin-bottom: 42px;
}

.board .member h4 {
  font-size: 20px;
  padding: 18px 0px;
}

.board .member p {
  font-size: 14px;
  line-height: 20px;
}

.board .member .bg-1 {
  background: #f44336;
}

.board .member .bg-2 {
  background: #03a8f3;
}

.board .member .bg-3 {
  background: #2239c2;
}

.board .jon p {
  margin: 40px 0;
}

.board .coffee {
  margin: 0px auto;
  padding: 48px 0px;
  width: 40px;
  background: #736357;
}

.board .coffee .coffee-icon {
  margin-bottom: 24px;
}

.board .coffee p {
  color: #fff;
}


/* ==========================================================================
   Speakers member Style
   ========================================================================== */
#speakers .speakers-member:hover {
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.14);
}

#speakers .speakers-member:hover .member-img img {
  margin-top: -58px;
}

.speakers-member {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 30px;
  z-index: 99;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
  -moz-transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
  -o-transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
  transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
}

.speakers-member .member-img {
  background: #00796b;
  position: relative;
  padding: 15px 30px 0;
  width: 100%;
  height: 240px;
  z-index: -1;
}

.speakers-member .member-img img {
  -webkit-transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
  -moz-transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
  -o-transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
  transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
}

.speakers-member .member-desc {
  padding: 15px 40px 30px;
  background: #fff;
  z-index: 99;
}

.speakers-member .member-desc h3 {
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 400;
}

.speakers-member .member-desc h5 {
  font-size: 14px;
  font-weight: 400;
}

.speakers-member .member-desc p {
  line-height: 20px;
  margin-bottom: 20px;
}

.social-icon .social i {
  color: #777777;
  background: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  margin-right: 2px;
  font-size: 14px;
  width: 32px;
  height: 32px;
  border-radius: 0;
  line-height: 32px;
  text-align: center;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.social-icon a .fa-facebook:hover {
  color: #3b5998;
}

.social-icon a .fa-twitter:hover {
  color: #00aced;
}

.social-icon a .fa-linkedin:hover {
  color: #007bb6;
}

.social-icon a .fa-dribbble:hover {
  color: #ea4c89;
}

.social-icon a .fa-behance:hover {
  color: #42C0FB;
}

#team .single-member {
  background: #fff;
  margin-top: 30px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  display: inline-block;
  overflow: hidden;
  -webkit-transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
  -moz-transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
  -o-transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
  transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
}

#team .single-member:hover {
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.14);
}

#team .team-img {
  position: relative;
  width: 50%;
  float: left;
}

#team .team-img img {
  width: 100%;
}

#team .team-img:before {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  bottom: 0;
  background: rgba(233, 30, 99, 0.7);
  opacity: 0;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

#team .team-desc {
  width: 50%;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  float: left;
}

#team .team-desc h3 {
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 400;
}

#team .team-desc h5 {
  font-size: 14px;
  font-weight: 400;
}

#team .social-icon {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 0;
  opacity: 0;
  width: 100%;
}

#team .single-member:hover .team-img:before {
  opacity: 1;
}

#team .single-member:hover .social-icon {
  opacity: 1;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.gray-bg {
  background: #f0f3f5;
}

/* ==========================================================================
   Footer Start
   ========================================================================== */
footer img {
  margin-top: -8px;
}

footer h3 {
  font-size: 14px;
  font-weight: 700;
  padding-bottom: 10px;
}

footer p {
  font-size: 13px;
  color: #2d2d2d;
  line-height: 20px;
  padding-right: 50px;
}

footer ul li a {
  color: #2d2d2d;
  font-size: 13px;
  font-weight: 400;
}

/* ==========================================================================
   Copyright Section 
   ========================================================================== */
#copyright {
  background: #333;
}

#copyright .copyright-text {
  color: #fff;
  padding: 14px;
  margin: 0;
}


/* ==========================================================================
   faq Section Start
   ========================================================================== */
#faq {
  background: url(/static/img/background/header-bg.jpg);
  background-size: cover;
  position: relative;
}

#faq:before {
  content: '';
  position: absolute;
  display: block;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: #00796b;
  opacity: 0.90;
}

#faq .content-text h2 {
  color: #fff;
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 15px;
}

#faq .content-text .text {
  color: #fff;
  font-weight: 400;
  line-height: 32px;
  font-size: 17px;
}

#faq .btn-cta {
  position: relative;
  margin: 40px 0px 0px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

#faq .btn-cta i {
  margin-right: 5px;
}

/* form view controls */
.form-control {
  font-size: 14px;
  outline: medium none;
  color: #999;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.7);
  margin: 15px 0;
  padding: 10px 15px;
  height: 40px;
  border: none;
  border-radius: 0;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.form-control:focus {
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.14);
  outline: none;
}


.form-group {
  margin-bottom: -10px;
}

/* Modal view changes */

.modal-dialog {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.modal-content {
  height: auto;
  min-height: 100%;
  border-radius: 0;
}

.card-body {
  color: #ffff !important;
}

option{
  color: black !important;
}

.overlay{
  background: rgba(0,121,107,0.7);
  margin-top: 5%;
}

.yellow{
  color: #faef65;
}

body{
  overflow-x:hidden;
}