<form action="/checkin/" method="POST">
    <input type="number" name="contact">
    {%csrf_token%}
    <button type="submit">Get details</button>
</form>

{%if participant%}

Name : {{participant.name}} <br>
College : {{participant.college}} <br>
Roomno : {{participant.roomno}} <br>
Type: {{ptype}}
<form action="/arrived/" method="post">
<input type="hidden" name="participant_id" value="{{participant.id}}">
<input type="hidden" name="ptype" value="{{ptype}}">
{%csrf_token%}
<button type="submit">Arrived</button>
</form>

{%endif%}