This is a generic feedback form and we dont track you here. Your feedback is completely anonymous unless you write your name etc. 
<form action="/feedback/" method="post">
    {{form.as_p}}
    {%csrf_token%}
    <button type="submit">Submit Feedback</button>
</form>

