We need this information to update the college about how many people are going to be arriving in the college hostel at what time and accordingly allocate spaces.

<form action="/updatead/" method="POST">
    {{adform}}
    {%csrf_token %}
    <input type="number" name="id" value="{{id}}" hidden="true">

    <button type="submit">Update</button>
</form>