{%load bootstrap4%}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
    <title>FSMKCamp'19</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" >    
    <!-- Main Style -->
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <!-- Fonts -->
    <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <!-- Icon -->
    <link rel="stylesheet" type="text/css" href="/static/fonts/simple-line-icons.css"> 
    <!-- Animate -->
    <link rel="stylesheet" type="text/css" href="/static/css/animate.css">
    <!-- text font -->
    <link rel="stylesheet" type="text/css" href="/static/css/fonts.css"> 
    
    <!-- Color CSS Styles  -->
    <link rel="stylesheet" type="text/css" href="/static/css/default.css" media="screen" /> 
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <!-- Header Area wrapper Starts -->
    <header id="header-wrap">
      <!-- Roof area Starts -->
      <div id="roof" class="hidden-xs">
          <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
              <h5 class="my-0 mr-md-auto font-weight-normal">
                <a class="navbar-brand" href="/">
                  <img src="/static/img/camp-logo-teal.png" class="img img-fluid img-responsive" alt="FSMKCamps'19">
                </a>
              </h5>
              <nav class="my-2 my-md-0 mr-md-3">
                  <a class="p-2 text-dark" href="#tracks-section">Tracks</a>              
                  <a class="p-2 text-dark" href="#speakers-section">Speakers</a>              
                  <a class="p-2 text-dark" href="/media/FSMK_camp_schedule_tentative.pdf" target="_blank">Schedule & Syllabus</a>              
                  <a class="p-2 text-dark" href="#faq-section">FAQ</a>     
              </nav>
              <a class="btn btn-outline-teal text-dark active animated bounceIn" href="#tracks-section">Register</a>
          </div>
      </div>
      <!-- Roof area End --> 
    </header>
    <!-- Header Area wrapper End -->

    <!-- Main Slider Section Start -->
    <section class="bgimage" style="margin-top:-2%">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="overlay">
                  <h4 class="tag-line text-center">Explore technologies of <span class="yellow"> next generation !</span></h4>
              </div>
            </div>
          </div>
        </div>
      </section>

    <!-- Main Slider Section End -->

    <!-- Call to action Section -->
    <section id="event" class="section">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3 col-sm-12 col-xs-12">
            <div class="tab-block wow fadeInDown animated" data-wow-delay="0s" style="visibility: visible;-webkit-animation-delay: 0s; -moz-animation-delay: 0s; animation-delay: 0s;">
              <div class="icon">
                <i class="icon-location-pin"></i>
              </div>
              <div class="desc">
                <h4>Location</h4>
                <p>PES College of Engineering, Mandya</p>
              </div>
            </div>
          </div>
          <div class="col-md-3 ccol-sm-12 col-xs-12">
            <div class="tab-block wow fadeInDown animated" data-wow-delay="0.2s" style="visibility: visible;-webkit-animation-delay: 0.2s; -moz-animation-delay: 0.2s; animation-delay: 0.2s;">
              <div class="icon">
                <i class="icon-calendar"></i>
              </div>
              <div class="desc">
                <h4>Date</h4>
                <p>20- 24 Jan '19</p>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-12 col-xs-12">
            <div class="tab-block wow fadeInDown animated" data-wow-delay="0.4s" style="visibility: visible;-webkit-animation-delay: 0.4s; -moz-animation-delay: 0.4s; animation-delay: 0.4s;">
              <div class="icon">
                <i class="icon-microphone"></i>
              </div>
              <div class="desc">
                <h4>Speakers</h4>
                <p>10+ Professionals</p>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-12 col-xs-12">
            <div class="tab-block last-block wow fadeInDown animated" data-wow-delay="0.6s" style="visibility: visible;-webkit-animation-delay: 0.6s; -moz-animation-delay: 0.6s; animation-delay: 0.6s;">
              <div class="icon">
                <i class="icon-wallet"></i>
              </div>
              <div class="desc left">
                <h4>Tickets available</h4>
                <p>{{total_count}} out of 150</p>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="content-text">
              <h3 class="wow fadeInUp animated" data-wow-delay="0.8s" style="visibility: visible;-webkit-animation-delay: 0.8s; -moz-animation-delay: 0.8s; animation-delay: 0.8s;">Get fresh insights into the world of tech and society</h3>
              <p class="wow fadeInUp animated" data-wow-delay="1s" style="visibility: visible;-webkit-animation-delay: 1s; -moz-animation-delay: 1s; animation-delay: 1s;">
                FSMKCamps present a different prespective to technology. As much as we love technology, we also care deeply about our society and the impact of technology in our society. 
                Our camps not only focus on imparting technology, but also has various talks about a technology focussed society and how every individual can contribute towards a safer and ethical techno-society.
              </p>
              <p>
                FSMKCamps are residential in nature, where we take care of stay, food and other things during the days of the camp.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Call to action Section End -->


    <section id="featured" class="section">
      <div class="container">
        <div id="tracks-section" class="row">
          <div class="col-12">
            <h2 class="section-title wow fadeInUp animated" data-wow-delay="0s" style="visibility: visible;-webkit-animation-delay: 0s; -moz-animation-delay: 0s; animation-delay: 0s;">
              Tracks</h2>
          </div>

           <!-- <p class="section-subcontent wow fadeInUp animated" data-wow-delay="0.2s" style="visibility: visible;-webkit-animation-delay: 0.2s; -moz-animation-delay: 0.2s; animation-delay: 0.2s;">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. A <br> enean massa. Cum sociis natoque penatibus et magnis dis parturient montes.</p> -->
            <div class="col-md-4 col-lg-4 col-sm-12">
              <div class="featured-box wow fadeInLeft animated" data-wow-delay="0.1s" style="visibility: visible;-webkit-animation-delay: 0.1s; -moz-animation-delay: 0.1s; animation-delay: 0.1s;">
                <div class="icon">
                  <i class="fas fa-brain"></i>
                </div>
                <div class="featured-content">
                  <h4 id="DSAI">Data science & AI</h4>
                  <p class="text-justify hack">Ever wondered why you ever studied so much math? Has words like Artificial intelligence ever buzzed you off? This track is dedicated for people who want to explore the convergence of math to computer science algorithms to see how modern technology is evolving. In this track you will learn, understanding and manipulating data, mathematics of learning, segmentation and machine learning basics, neural networks and more. This track is going to be colorful too. But hey, get your math right before you play with this track :)</p>
                  {% if ai_count == 0 %}
                    Registration Closed
                  {%else%}
                  <div class="buttons">
                    <button style="background-color:#00796b;" type="button" class="btn btn-primary register" data-id="DSAI">Know More</button>
                  </div>
                  <span class="badge badge-{%if ai_count <= 10 %}danger {%elif ai_count > 10 and ai_count <= 20 %}warning {%else%}primary{%endif%}">{{ai_count}} seats left</span>
                  {%endif%}
                </div>
              </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-12">
              <div class="featured-box wow fadeInLeft animated" data-wow-delay="0.2s" style="visibility: visible;-webkit-animation-delay: 0.2s; -moz-animation-delay: 0.2s; animation-delay: 0.2s;">
                <div class="icon">
                  <i class="fas fa-cloud"></i>
                </div>
                <div class="featured-content">
                  <h4 id="CC">Cloud Computing </h4>
                  <p class="text-justify hack">Ever wondered what virtualization actually means? Do cloud servers really stay on the clouds? 99% of the cloud servers run on GNU/Linux they say? Why? What does the terms DevOps mean? Package management? Server security and uptime? Does all this words mean something to you? Then this track is for you. You will learn everything from web application deployment to running database servers to server security to microservices or Docker. This track will give you a start from first time working on a cloud server to managing it completely. 
                  </p>
                  {% if cc_count == 0 %}
                    Registration Closed
                  {%else%}
                  <div class="buttons">
                      <button style="background-color:#00796b;" type="button" class="btn btn-primary register" data-id="CC">Know More</button>
                    </div>
                  <span class="badge badge-{%if cc_count <= 10 %}danger {%elif cc_count > 10 and cc_count <= 20 %}warning {%else%}primary{%endif%}">{{cc_count}} seats left</span>
                  {%endif%}
                </div>
              </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-12">
              <div class="featured-box wow fadeInLeft animated" data-wow-delay="0.3s" style="visibility: visible;-webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;">
                <div class="icon">
                  <i class="fas fa-network-wired"></i>
                </div>
                <div class="featured-content">
                  <h4 id="iot">Internet of Things</h4>
                  <p class="text-justify hack">You probably would have heard of IoT but do you know what it really is? Ever wondered how they are built? Or do you have a really awesome idea to build something out of it but don't know where to start? Then this is the track for you. You'll learn the know-how's of IoT, get to work on a hardware platform and to connect various devices, learn many many things and be able to build something cool on your own. No, you don't need to know about some complex tech that most of us have never heard of. A brain full of ideas, a desire to learn and you'll do just fine. </p>
                  {% if iot_count == 0 %}
                    Registration Closed
                  {%else%}
                  <div class="buttons">
                    <button style="background-color:#00796b;" type="button" class="btn btn-primary register" data-id="iot">Know More</button>
                  </div>
                  <span class="badge badge-{%if iot_count <= 10 %}danger {%elif iot_count > 10 and iot_count <= 20 %}warning {%else%}primary{%endif%}">{{iot_count}} seats left</span>
                  {%endif%}
                </div>
              </div>
            </div>
        </div>
      </div>
      <!-- Modal -->
      <!--registration Modal-->
      <div id="register_modal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-xl">

          <!-- Modal content-->
         <div class="">
           <div class="row">
              <div class="modal-content">
                  <div class="modal-header">
                      <h4 class="modal-title"></h4>
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                  <div class="container">
                    <div class="row">
                      <div class="col-md-4 mt-5" id="track_description">
                        <a style="background-color:#00796b;" class="btn btn-primary" href="/media/FSMK_camp_schedule_tentative.pdf" target="_blank">Download Schedule and Syllabus</a>
                      </div>
                      <div class="col-md-8">
                       
                            <div class="modal-body">
                
                              <form id="register_form">
                                {% csrf_token %}
                                {% bootstrap_form reg_form layout='horizontal'%}
                                {% buttons %}
                                  <button style="background-color:#00796b;" type="button" class="btn btn-primary btn-block pull-right" id="register">Register</button>
                                  <br />
                                {%endbuttons %}
                              </form>

                              <div id="register_success" class="invisible">
                                  <div class="text-center">
                                    <i class="fa fa-thumbs-up text-success fa-6x"></i>
                                  </div>
                                  <h3 class="text-center" id="response_header">Registration success!</h3>
                                  <h4 id="response_message"></h4>
                              </div>

                              <div id="register_success" class="invisible">
                                  <div class="text-center">
                                    <i class="fa fa-exclamation-triangle text-success fa-6x"></i>
                                  </div>
                                  <h3 class="text-center" id="error_header">Registration success!</h3>
                                  <h4 id="error_message"></h4>
                              </div>
                            </div>
                      </div>
                    </div>
                  </div>
                  </div>
                  <div class="modal-footer">
                    <br>
                  </div>
           </div>
         </div>

        </div>
      </div>
      <!--registration modal end-->
    </section>


    <!-- Speaker Section Start -->

    <section id="speakers" class="section">
      <div class="container">
        <div id="speakers-section" class="row">
          <div class="col-md-12">
            <h2 class="section-title wow fadeInUp" data-wow-delay="0s" style="visibility: hidden; -webkit-animation-name: none; -moz-animation-name: none; animation-name: none;-webkit-animation-delay: 0s; -moz-animation-delay: 0s; animation-delay: 0s;">Meet Our Speakers</h2>
            <p class="section-subcontent wow fadeInUp" data-wow-delay="0.2s" style="visibility: hidden; -webkit-animation-name: none; -moz-animation-name: none; animation-name: none;-webkit-animation-delay: 0.2s; -moz-animation-delay: 0.2s; animation-delay: 0.2s;">
                    Never doubt that a small group of thoughtful, concerned people can change your life. Indeed it is the only thing that ever has.
          </div>
          {% for speaker in speakers %}
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="speakers-member wow fadeIn" data-wow-delay="0.1s" style="visibility: hidden; -webkit-animation-name: none; -moz-animation-name: none; animation-name: none;-webkit-animation-delay: 0.1s; -moz-animation-delay: 0.1s; animation-delay: 0.1s;">
              <div class="member-img">
                <img src="/media/{{speaker.profile_pic}}" alt="">
              </div>
              <div class="member-desc">
                <h3>{{speaker.name}}</h3>
                <h5>{{speaker.designation}}</h5>
                <p>{{speaker.description}}</p>
                <div class="social-icon">
                  {%if speaker.facebook%}
                  <a class="social" href="https://facebook.com/{{speaker.facebook}}" target="_blank"><i class="fab fa-facebook"></i></a>
                  {%endif%}
                  {%if speaker.twitter%}
                  <a class="social" href="https://twitter.com/{{speaker.twitter}}" target="_blank"><i class="fab fa-twitter"></i></a>
                  {%endif%}
                  {%if speaker.mastodon%}                  
                  <a class="social" href="{{speaker.mastodon}}" target="_blank"><i class="fab fa-mastodon"></i></a>
                  {%endif%}
                  {%if speaker.instagram%}                  
                  <a class="social" href="https://instagram.com/{{speaker.instagram}}" target="_blank"><i class="fab fa-instagram"></i></a>
                  {%endif%}
               
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>
  <!-- Speaker Section End --> 

      <!--FAQ section start-->
      <section id="faq" class="section">
        <div class="container">
          <div id="faq-section" class="row">
            <div class="col-12">
                <div id="accordion">
                    {%for faq in faqs%}
                    <div class="card">
                      <div class="card-header" id="heading_{{faq.id}}">
                        <h5 class="mb-0">
                          <a class="btn btn-sm" style="padding:0" data-toggle="collapse" data-target="#id_{{faq.id}}" aria-expanded="true" aria-controls="{{faq.id}}">
                            {{faq.id}}. {{faq.question}}
                          </a>
                        </h5>
                      </div>
                  
                      <div id="id_{{faq.id}}" class="collapse" aria-labelledby="heading_{{faq.id}}" data-parent="#accordion">
                        <div class="card-body">
                          <p class="text-dark">{{faq.answer}}</p>
                        </div>
                      </div>
                    </div>
                    {%endfor%}
                  </div>

            </div>
            
          </div>
        </div>
      </section>
      <!--FAQ section end-->

    <!-- Footer Section Start -->   
    <footer class="section">  
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-12">
            <h3><img src="/static/img/camp-logo-teal.png" alt=""></h3>
            <p>
              <a href="https://fsmk.org/" target="_blank">Free Software Movement Karnataka (FSMK) </a> is a not-for-profit organisation, that aims to educate and help adopt <a href="https://www.gnu.org/philosophy/free-sw.html" target="_blank"> Free(dom) software </a> amongst people.
            </p>
          </div>
             
          <div id="social" class="col-md-4 col-sm-4 col-xs-12 text-center">
                <br>
                <br>
                <a href="https://www.facebook.com/groups/freesoftwaremovementkarnataka/">
                  <i class="fab fa-4x fa-facebook"></i></a>
                </a>
                &nbsp; &nbsp;
                <a href="https://mastodon.social/@fsmk_org"><i class="fab fa-4x fa-mastodon"></i></a>
                </a>
                &nbsp; &nbsp;

                <a href="https://twitter.com/fsmk_org"><i class="fab fa-4x fa-twitter-square"></i></a>
                    
                </a>
                &nbsp; &nbsp;

                <a>
                    <a href="https://www.instagram.com/fsmk_org"><i class="fab fa-4x fa-instagram"></i></a>
                </a>
          </div>

          <div class="col-md-3 col-sm-4 col-xs-12 float-right">
            <img src="/static/img/college_logo.jpg" width="150" height="150" class="img img-responsive float-right" alt="PESCE,Mandya">         
        </div>

      </div>   
      </div>
      </footer>   
    </footer>  
    <!-- Footer Section End -->  
   
    </div>
    <!-- Main contetn End -->

    <!-- Copytight Start -->
    <!-- <section id="copyright">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
              <a href="">
                <i class="fab fa-3x fa-facebook text-center"></i></a>
              </a>
              <a href=""><i class="fab fa-3x fa-mastodon"></i></a>
              </a>
              <a href=""><i class="fab fa-3x fa-twitter-square"></i></a>
                  
              </a>
              <a>
                  <a href=""><i class="fab fa-3x fa-instagram"></i></a>
              </a>

              
              
              
          </div>
        </div>
      </div>
    </section>  -->
    <!-- Copytight End -->   

    <!-- Go to Top Link -->
    <a href="#" class="back-to-top">
    <i class="icon-arrow-up"></i>
    </a>

     

    <!-- jQuery Load -->    
    <script src="/static/js/jquery.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="/static/js/bootstrap.min.js"></script>
    <!-- Smooth scroll JS -->   
    <script src="/static/js/smooth-scroll.js"></script>        
    <!-- Wow Scroll -->
    <script src="/static/js/wow.js"></script> 
 
    <!-- All Js plugin -->
    <script src="/static/js/main.js"></script> 
  </body>
</html>
