{% extends 'email_generic_template.html' %}

{% block email_header %}
{% endblock %}
{% block email_body %}
<br>
Please read this mail carefully and follow any instruction provided strictly!
<br>
<br>
______________________________________________________________________________________________________________________
<br>

Hello! 
<br>

Welcome aboard!
<br>

It's that time of the time where you pack your bags and attend the ever so successful FSMK Camp. We've been conducting camps for the past 6 years and we will continue to do so. If you're getting this mail, then you are participating. (Woo hoo!)
<br>

Free Software Movement Karnataka a.k.a FSMK has tied up with PES COLLEGE OF ENGINEERING, MANDYA this year - primarily because it will freshen you up away from the city tides. We can have the peace and fresh atmosphere in there which will be worth the distance you are traveling!
<br>

We've had a lot of fun and learned a lot in our previous camps. And we are sure, we will this time too. So, just relax, be yourself at the camp , and prepare to have a lot of fun! :)
<br>
<br>
______________________________________________________________________________________________________________________
<br>

Instructions:
<br>

1. First thing - Join the Whatsapp group immediately. All our interactions will primarily happen here : https://chat.whatsapp.com/IYThDNol5o164ddZKbim1N
  (Do not send this link to anyone else)
  <br>

2. Here is the general schedule of the camp : https://camp.fsmk.org/media/FSMK_camp_schedule_tentative.pdf
<br>

3. Here are the things to carry (Pen Drive is must! Do not forget) : https://gitlab.com/snippets/1798496
<br>

4. Here are the travel options for you to reach PESCE : https://gitlab.com/snippets/1798515
<br>

Since classes will start sharp at 9AM on 20th morning, we advice participants to reach Mandya by 19th night. Dinner will be provided on that night.
<br>

We want to be prepared to welcome you. So, kindly update your day of arrival in here: https://camp.fsmk.org/me_in_camp/
<br>

Upon reaching the college, contact one of the camp leads to assist you.
<br>

Camp Leads :
<br>

<br>
Girish : +91-9901430833
<br>

    Abhay : +91-76767 70004
<br>
<br>



5. Here is the code of conduct to be followed at the camp (kindly read and strictly follow this) : https://gitlab.com/snippets/1798505
<br>
<br>

______________________________________________________________________________________________________________________

<br>

For any further queries, do contact the FSMK Core Committe Members :
<br>
    Ram : +91-9916394958
    <br>
    Abhinav : +91-9894769833
    <br>
    Rizma : +91-960671293
    <br>
    <br>

Stay in touch with us by following us on
<br>

http://fsmk.org/
<br>

http://discuss.fsmk.org/
<br>

Official Social media accounts:
<br>

Mastodon: https://mastodon.social/@fsmk_org
<br>

Diaspora: https://diasp.in/u/fsmk_org
<br>

Twitter: http://twitter.com/fsmk_org
<br>

Instagram: https://www.instagram.com/fsmk_org/
<br>

Facebook Page: https://www.facebook.com/fsmkcamp/
<br>

Facebook Group: https://www.facebook.com/groups/freesoftwaremovementkarnataka/
<br>

{% endblock %}