<form action="." method="post">
    <input type="email" name="email" placeholder="Enter the email you used to register">
    <br>
    <br>
    {% csrf_token %}
    <input type="number" name="contact" placeholder="Enter the mobile number you entered to register">

    {%if not found%}

        <div style="color:red;"> You seem to entered a wrong email id or phone number </div>

    {%endif%}
    <br>
    <br>
    <button type="submit">Update my arrival and departure time</button>

</form>