{% extends 'email_generic_template.html' %}

{% block email_header %}
   
{% endblock %}
{% block email_body %}
Hi {{name}}, we are writing to you with a confirmation for your registration  <br />
for FSMKCamps'19, happening from 20th - 24th January 2019 at PES College of Engineering, Mandya. <br /><br />
FSMKCamps are residential in nature, and would require you to stay at the venue during the days of the camp. 
We will arrange for the stay in the college hostel itself, and take care of food during the days of the camp.

<hr>

Below are the details of your registration : <br />

Amount Received : {{fee}} /- INR <br>
Transaction id  : {{transaction_id}} <br>
Track           : {{track}} <br>
T-Shirt         : {{tshirt}} <br>
College         : {{college}} <br>
Person who paid : {{volunteer.first_name}} or {{coordinator.first_name}} <br>
<br>
<br>
We will keep you posted of further updates. Keep checking your emails regularly. 
{% endblock %}